
  <% @places.each do |place| %>
    <li>
      <%= place.name %> |
      <%= place.neighborhood %>
    </li>
  <% end %>

<% if !current_user.nil? %>
  <% if user_signed_in? || current_user.admin? %>
    <%= link_to 'Add New Place', new_place_path %>
  <% end %>
<% end %>
