<div id='app'>
</div>

<% if !current_user.nil? %>
  <% if user_signed_in? && current_user.admin? || current_user.id == @place.id %>
    <%= link_to 'Edit', edit_place_path(@place), class:"button" %>
  <% end %>
<% end %>
